.item {
  max-width: 320px;
  margin: 100px 0;
  transform: translateY(-25%);
  z-index: 1;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;

    .item__title {
      color: $accent-color;
    }
  }

  &__title {
    margin: 0 0 20px 0;
    font-size: em(44);
    font-weight: bold;
    color: $main-color;
    letter-spacing: 1.29px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__desc {
    min-height: 64px;
    margin-bottom: 40px;
    font-size: em(20);
    color: $font-color;
    letter-spacing: 0.75px;
    line-height: 1.5;
  }

  &__img {
    display: none;
  }
}

@media (max-width: $md) {

  .item {
    max-width: 100%;
    margin: 15px 0 30px;
    text-align: center;
    transform: none;

    &__title {
      margin-bottom: 10px;
      position: relative;
      font-size: em(36);
      line-height: 1.2;
    }

    &__desc {
      min-height: auto;
      margin-bottom: 20px;
      font-size: em(18);
    }

    &__img {
      display: block;
      width: 100%;
      height: auto;
      margin-top: -80px;
      transform: translateY(80px);
    }
  }
}

