// Media breakepoints
$lg: 1280px;
$md: 780px;

// Fonts
$main-font-family: FuturaPT, sans-serif;
$root-font-size: 14px;

// Colors
$main-color: #c7486b;
$accent-color: #7bbd58;
$bg-color: #eceef3;
$font-color: #4c4c4c;
$btn-color: #5672ab;
